*{
 margin: 0;
 box-sizing: border-box;
}
.house{
 background-color: #F4F6FE;
}

.hero{
 display: flex;
 justify-content: space-between;
}

.lin a{
 text-decoration: none;
 color: black;
 font-weight: 500;
 
}

.button-container {
 display: flex;
 margin-top: 20px;
 margin-right: 20px;
 height: 50px;
 background-color: white;
 align-items: center;
 padding: 0 10px;


}

.button {
 flex: 1;
 width: 4rem;
 height: 30px;
 font-size: 0.8rem;
 /* padding: 2px; */
 background-color: white;
 color: black;
 border: none;
 cursor: pointer;
 border-radius: 10%;
}

.button:hover {
 background-color: #FFCA00;
}
.bot{
 width: 100%;
 background-color: #F4F6FE;
 margin-top: 0;
 margin-bottom: 0;
 padding: 10px;
 box-shadow: inset;
}

.bot a{
 text-decoration: none;
 color: black;
 font-weight: 600;
 font-size: 1rem;
 margin-right: 4.5rem;


}

.mybtn{
 font-size: 13px;
 padding: 5px 18px;
}


.drop-btn{
 width: 8rem;
}

.loc-btn{
 width: 12rem;
}


.options{
display: flex;
width: 55%;
justify-content: space-between;
margin-left: 15px;
margin-top: 40px;

}

.options a{
 text-decoration: none;
}

.line{
 width: 50px;
 background-color: aqua;
}



.description{
 display: flex;
 justify-content: space-between;
 line-height: 5px;
 margin-bottom: 0rem;
}

.description p{
 font-size: 0.85rem;
}

.map-responsive {
 overflow: hidden;
 padding-bottom: 45%;
 position: relative;
 height: 0;
 border-radius: 5%;
 margin-bottom: 20px;
}

.map-responsive iframe {
 left: 0;
 top: 0;
 height: 100%;
 width: 100%;
 position: absolute;
}